/* PriceSlider.css */

/* Slider track */
.range-input::-webkit-slider-runnable-track {
    border-radius: 10px;  
}

/* Slider thumb (pointer) */
.range-input::-webkit-slider-thumb {
    appearance: none;
    width: 16px; /* Increased width for better visibility */
    height: 16px; /* Increased height for better visibility */

    border-radius: 50%;
    background-color: #4A006E; /* Color of the pointer */
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
}
.range-input::-webkit-slider-thumb:hover{
    appearance: none;
    scale: 110%;

    border-radius: 50%;
    background-color: #4A006E; /* Color of the pointer */
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.range-input::-moz-range-thumb {
    width: 20px; /* Same width for Firefox */
    height: 20px; /* Same height for Firefox */
    border-radius: 50%;
    background-color: #4A006E;
    cursor: pointer;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.range-input::-ms-thumb {
    width: 20px; /* Same width for IE/Edge */
    height: 20px; /* Same height for IE/Edge */
    border-radius: 50%;
    background-color: #4A006E;
    cursor: pointer;
  
}



/* Styling for the IE/Edge range fill */
.range-input::-ms-fill-lower {
    background: #4A006E;
}
