@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

html::-webkit-scrollbar {
    width: auto;
}

html::-webkit-scrollbar-thumb {
    background-color: #dbd2b7;
    border-radius: 10px; /* Changed to 10px */
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #c4b2a5; 
}

html::-webkit-scrollbar-track {
    background-color: #dbd2b7;
    border-radius: 10px; /* Changed to 10px */
}

/* For Firefox */
html {
    scrollbar-width: thin; /* Makes the scrollbar thin */
    scrollbar-color: #dbd2b7 #ffffff; /* Sets the thumb and track colors */
}


.scrollbar-hidden {
    /* Hide scrollbar for Chrome, Safari and Opera */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  /* Ensure smooth scrolling */
  .scroll-smooth {
    scroll-behavior: smooth;
  }

  .half-star {
    position: relative;
    display: inline-block;
    color: transparent; /* Hide the original star */
}

.half-star::before {
    content: '★'; 
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    overflow: hidden;
    color: #fbbf24; /* Yellow-500 color */
}
